.post-content{
  h1, h2, h3,
  h4, h5, h6{
    text-transform: uppercase;
    letter-spacing: .2em;
    font-size: 1em;
    margin-bottom: 1em;
  }

  p{
    margin-bottom: 2em;
  }

  blockquote{
    font-family: $sans-serif-font-family;
    font-style: italic;
    font-size: 1.5em;
    padding-left: 20px;
    border-left: 10px solid black;
    margin: 0;
  }
}

.container38{
  max-width: 38em;
}
